@media screen and (max-width: 992px) {
    img{
        object-fit: contain;
    }
}

body {
    background-image: url('/media/homeBG.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    color: #cccec1;
}

strong {
    /*font-weight: 500 !important;*/
    color: #506339ed;
}

.playwrite-gb-s-h4 {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    color:#FEFAE0
  }

.playwrite-gb-s-h5 {
    font-family: "Playwrite GB S", cursive;
    font-size: larger;
    font-weight: 500;
    font-style: italic;
    color:#283618
  }

.home {
    color: #e1f5b1bd;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}

/* navbar code to centre logo */
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

/* Photo attributions 
Photo by <a href="https://unsplash.com/@nielsenramon?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nielsen Ramon</a> on <a href="https://unsplash.com/photos/tilt-shift-lens-photo-of-glass-bowl-okvqMfl78YE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@artandsoil?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Art and Soil Bangalore</a> on <a href="https://unsplash.com/photos/clear-drinking-glass-with-water-and-green-plant-M3DMCMViLIw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@keszthelyit?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Keszthelyi Timi</a> on <a href="https://unsplash.com/photos/clear-glass-bottle-with-green-plant-IisVMrpwtkk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@artandsoil?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Art and Soil Bangalore</a> on <a href="https://unsplash.com/photos/brown-and-white-ceramic-table-decor-6ncPCLOzwU4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

*/